<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gmail.yahlieyal.lostnfound">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".Notification_Activity"></activity>
        <activity
            android:name=".Item_To_Show_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About_Us_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PointOnMap_Activity"
            android:label="@string/title_activity_point_on_map_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Show_List_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Show_Users_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Create_Item_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Map_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Permission_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhgpnYp9VJsMVDLMzSjDm_7pHdaZc3i4M" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gmail.yahlieyal.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".Example_Service"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>